name: Build and Test
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

jobs:
  report:
    name: Report
    runs-on: ubuntu-latest
    steps:
      - name: ref
        run: echo ${{ github.ref }}
      - name: event_name
        run: echo ${{ github.event_name }}
  build:
    name: Build
    strategy:
      matrix:
        target: [
          {arch: amd64, os: linux},   {arch: arm64, os: linux},
        ]
    env:
        GOOS: ${{ matrix.target.os }}
        GOARCH: ${{ matrix.target.arch }}
        TEST_AZURE_ACCOUNT_URL: ${{ secrets.TEST_AZURE_ACCOUNT_URL }}
        TEST_AZURE_ACCOUNT_NAME: ${{ secrets.TEST_AZURE_ACCOUNT_NAME }}
        TEST_AZURE_ACCOUNT_KEY: ${{ secrets.TEST_AZURE_ACCOUNT_KEY }}
        TEST_AZURE_CONTAINER: ${{ vars.TEST_AZURE_CONTAINER }}
        TEST_AZURE_BLOB_PREFIX: ${{ vars.TEST_AZURE_BLOB_PREFIX }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ vars.AWS_REGION }}
        AWS_TEST_BUCKET: ${{ vars.AWS_TEST_BUCKET }}
        NODE_OPTIONS: --no-deprecation
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: vet
        run: go vet ./...
      - name: build
        run: go build ./...
      - name: lint
        uses: golangci/golangci-lint-action@v9
        with:
          only-new-issues: true
          version: v2.6.2
      - name: test
        # build binaries and run them to test; sufficient to run on native arch
        if: matrix.target.arch == 'amd64' && matrix.target.os == 'linux'
        run: go test ./... -v -race
      - name: test (integration - MinIO)
        # build binaries and run them to test; sufficient to run on native arch
        if: matrix.target.arch == 'amd64' && matrix.target.os == 'linux'
        run: go test -tags=integration ./... -v -race
