name: Build and Test
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

jobs:
  report:
    name: Report
    runs-on: ubuntu-latest
    steps:
      - name: ref
        run: echo ${{ github.ref }}
      - name: event_name
        run: echo ${{ github.event_name }}
  build:
    name: Build
    strategy:
      matrix:
        target: [
          {arch: amd64, os: linux},   {arch: arm64, os: linux},
        ]
    env:
        GOOS: ${{ matrix.target.os }}
        GOARCH: ${{ matrix.target.arch }}
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ^1.20
      - name: vet
        run: go vet ./...
      - name: build
        run: go build ./...
      - name: lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.61.0
      - name: test
        # build binaries and run them to test; sufficient to run on native arch
        if: matrix.target.arch == 'amd64' && matrix.target.os == 'linux'
        run: go test ./... -v -race
